spring:
  application:
    name: RFID_API

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 500MB

  server:
    address: 0.0.0.0
    port: 8080

  datasource:
    url: jdbc:sqlserver://localhost:1435;databaseName=rfid_nam_viet;encrypt=true;trustServerCertificate=true;
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: sa
    password: YourStrong!Passw0rd
    hikari:
      maximum-pool-size: 50
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.SQLServerDialect
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        order_inserts: true
        order_updates: true
        batch_versioned_data: true

jwt:
  secret-key: $2a$12$5pIKMCnwfMmotzq3GnVbMOt6dnw5qH8vBG4Lt4vyWgF.NsRH1mRqy

cloudinary:
  cloud-name: dpfcf9cgt
  api-key: 349128361531382
  api-secret: 5Kj9q2un9wG06rzjvFAe6aNNiH8